<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="targetColumn" type="xstring" value="target_rank"/>
        <entry key="seed" type="xstring" isnull="true" value=""/>
        <entry key="maxLevels" type="xint" value="-1"/>
        <entry key="minNodeSize" type="xint" value="-1"/>
        <entry key="minChildSize" type="xint" value="-1"/>
        <entry key="dataFraction" type="xdouble" value="1.0"/>
        <entry key="isDataSelectionWithReplacement" type="xboolean" value="true"/>
        <entry key="hardCodedRootColumn" type="xstring" isnull="true" value=""/>
        <entry key="columnSamplingMode" type="xstring" value="SquareRoot"/>
        <entry key="columnFractionPerTree" type="xdouble" value="1.0"/>
        <entry key="columnAbsolutePerTree" type="xint" value="10"/>
        <entry key="isUseDifferentAttributesAtEachNode" type="xboolean" value="true"/>
        <entry key="nrModels" type="xint" value="500"/>
        <entry key="splitCriterion" type="xstring" value="InformationGainRatio"/>
        <entry key="missingValueHandling" type="xstring" value="XGBoost"/>
        <entry key="useAverageSplitPoints" type="xboolean" value="true"/>
        <entry key="useBinaryNominalSplits" type="xboolean" value="true"/>
        <entry key="fingerprintColumn" type="xstring" isnull="true" value=""/>
        <config key="columnFilterConfig">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="39"/>
                <entry key="0" type="xstring" value="dri_score"/>
                <entry key="1" type="xstring" value="cyto_score"/>
                <entry key="2" type="xstring" value="diabetes"/>
                <entry key="3" type="xstring" value="hla_match_c_high"/>
                <entry key="4" type="xstring" value="tbi_status"/>
                <entry key="5" type="xstring" value="arrhythmia"/>
                <entry key="6" type="xstring" value="graft_type"/>
                <entry key="7" type="xstring" value="vent_hist"/>
                <entry key="8" type="xstring" value="renal_issue"/>
                <entry key="9" type="xstring" value="pulm_severe"/>
                <entry key="10" type="xstring" value="prim_disease_hct"/>
                <entry key="11" type="xstring" value="cmv_status"/>
                <entry key="12" type="xstring" value="hla_match_dqb1_high"/>
                <entry key="13" type="xstring" value="rituximab"/>
                <entry key="14" type="xstring" value="prod_type"/>
                <entry key="15" type="xstring" value="conditioning_intensity"/>
                <entry key="16" type="xstring" value="ethnicity"/>
                <entry key="17" type="xstring" value="year_hct"/>
                <entry key="18" type="xstring" value="obesity"/>
                <entry key="19" type="xstring" value="in_vivo_tcd"/>
                <entry key="20" type="xstring" value="hla_match_a_high"/>
                <entry key="21" type="xstring" value="hepatic_severe"/>
                <entry key="22" type="xstring" value="donor_age"/>
                <entry key="23" type="xstring" value="prior_tumor"/>
                <entry key="24" type="xstring" value="peptic_ulcer"/>
                <entry key="25" type="xstring" value="age_at_hct"/>
                <entry key="26" type="xstring" value="gvhd_proph"/>
                <entry key="27" type="xstring" value="rheum_issue"/>
                <entry key="28" type="xstring" value="sex_match"/>
                <entry key="29" type="xstring" value="hla_match_b_high"/>
                <entry key="30" type="xstring" value="race_group"/>
                <entry key="31" type="xstring" value="comorbidity_score"/>
                <entry key="32" type="xstring" value="karnofsky_score"/>
                <entry key="33" type="xstring" value="hepatic_mild"/>
                <entry key="34" type="xstring" value="donor_related"/>
                <entry key="35" type="xstring" value="melphalan_dose"/>
                <entry key="36" type="xstring" value="cardiac"/>
                <entry key="37" type="xstring" value="hla_match_drb1_high"/>
                <entry key="38" type="xstring" value="pulm_moderate"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="6"/>
                <entry key="0" type="xstring" value="ID"/>
                <entry key="1" type="xstring" value="efs"/>
                <entry key="2" type="xstring" value="efs_time"/>
                <entry key="3" type="xstring" value="target_cox"/>
                <entry key="4" type="xstring" value="target_km"/>
                <entry key="5" type="xstring" value="target_na"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <entry key="ignoreColumnsWithoutDomain" type="xboolean" value="true"/>
        <entry key="nrHilitePatterns" type="xint" value="-1"/>
        <entry key="saveTargetDistributionInNodes" type="xboolean" value="false"/>
        <entry key="rowSamplingMode" type="xstring" value="Random"/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="maxLevels">
                <entry key="used_variable" type="xstring" value="maxDepth"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
            <config key="minChildSize">
                <entry key="used_variable" type="xstring" value="minNodeSize"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Execution canceled"/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.base.node.mine.treeensemble2.node.randomforest.learner.regression.RandomForestRegressionLearnerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Random Forest Learner (Regression)"/>
    <entry key="node-bundle-name" type="xstring" value="Decisions Tree Ensembles for KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.treeensembles2"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.2.0.v202310301555"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Ensemble Learning Wrappers"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ensembles.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.2.0.v202310301555"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Random Forest Learner (Regression)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
